:root {
  --primary-color: #e95420;
  --secondary-color: rgb(246, 246, 239);
  --accent-color: #868e96;
  --text-color: white;
}

.App {
}

.logo {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem 0;
  display: block;
}

.logo span {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.25rem;
  margin-right: 0.25rem;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: var(--text-color);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.posts {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--secondary-color);
  list-style-type: none;
}

.post {
  padding: 1rem;
}

.posts_item {
  padding: 1rem;
}

.posts_item sub {
  display: flex;
  align-items: center;
}

.posts_item sub span {
  color: var(--primary-color);
}

.posts_item a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.author:before {
  content: "\e0a5";
}

.comment_author {
  color: var(--primary-color);
}
